#this is the notebook that will guide me through all the lessons I've learned

In [1]:
print("helloworld")

helloworld

In [2]:
a=10
print (a)

10

In [6]:
#Double the word or number or parameter
a=10
a**2
#this show 10 *10

100

Standard Data Types


The data stored in memory can be of many types. For example, a person's age is stored as a numeric value and his or her address is stored as alphanumeric characters. Python has various standard data types that are used to define the operations possible on them and the storage method for each of them.

Python has five standard data types −

    Numbers
    String
    List
    Tuple
    Dictionary

In [4]:
#Assigning variable and deleting variable
a=10
del a

Python supports four different numerical types −

    int (signed integers)
    long (long integers, they can also be represented in octal and hexadecimal)
    float (floating point real values)
    complex (complex numbers)

Examples

Here are some examples of numbers −
int 	long 	float 	complex
10 	51924361L 	0.0 	3.14j
100 	-0x19323L 	15.20 	45.j
-786 	0122L 	-21.9 	9.322e-36j
080 	0xDEFABCECBDAECBFBAEl 	32.3+e18 	.876j
-0490 	535633629843L 	-90. 	-.6545+0J
-0x260 	-052318172735L 	-32.54e100 	3e+26J
0x69 	-4721885298529L 	70.2-E12 	4.53e-7j

    Python allows you to use a lowercase l with long, but it is recommended that you use only an uppercase L to avoid confusion with the number 1. Python displays long integers with an uppercase L.

    A complex number consists of an ordered pair of real floating-point numbers denoted by x + yj, where x and y are the real numbers and j is the imaginary unit.

Python Strings

Strings in Python are identified as a contiguous set of characters represented in the quotation marks. Python allows for either pairs of single or double quotes. Subsets of strings can be taken using the slice operator ([ ] and [:] ) with indexes starting at 0 in the beginning of the string and working their way from -1 at the end.

In [7]:
a="hello anuj"
a[2]

'l'

In [8]:
a[:]

'hello anuj'

In [11]:
str = 'Hello World!'

print str)          # Prints complete string
print str[0]       # Prints first character of the string
print str[2:5]     # Prints characters starting from 3rd to 5th
print str[2:]      # Prints string starting from 3rd character
print str * 2      # Prints string two times
print str + "TEST" # Prints concatenated string

SyntaxError: Missing parentheses in call to 'print' (<ipython-input-11-fc6758fcfeb9>, line 4)

In [38]:
str="anujshrestha"

print(str) #prints complete string
print(str[:]) #from first to last
print(str[2:5])#from 2 to 5 from third to fifth
print(str[2:]) #from 2 to last from 3rd
print(str *2) #print string twice
print (str + " added") #string concatenated
#counts space as charatcter

anujshrestha
anujshrestha
ujs
ujshrestha
anujshresthaanujshrestha
anujshrestha added

Lists are the most versatile of Python's compound data types. A list contains items separated by commas and enclosed within square brackets ([]). To some extent, lists are similar to arrays in C. One difference between them is that all the items belonging to a list can be of different data type.

The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indexes starting at 0 in the beginning of the list and working their way to end -1. The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator. For example −
Live Demo

#!/usr/bin/python

list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print list          # Prints complete list
print list[0]       # Prints first element of the list
print list[1:3]     # Prints elements starting from 2nd till 3rd 
print list[2:]      # Prints elements starting from 3rd element
print tinylist * 2  # Prints list two times
print list + tinylist # Prints concatenated lists

In [62]:
list=['abcd',7,'anuj',70.2]
print(list)

['abcd', 7, 'anuj', 70.2]

In [64]:
#prints first element of list
print(list[0])

abcd

In [65]:
#prints forn 2nd till 3rd
print (list[1:3])

In [47]:
#prints from 2nd to last
print(list[1:])

[7, 'anuj', 70.2]

In [67]:
#prints te list twice
print(list*2)

['abcd', 7, 'anuj', 70.2, 'abcd', 7, 'anuj', 70.2]

In [68]:
list2=['shrestha','gong']
#concatenate two string
print(list+list2)

['abcd', 7, 'anuj', 70.2, 'shrestha', 'gong']

In [72]:

#appends in the string
list.append('ratna')
print(list)

['abcd', 7, 'anuj', 70.2, 'ratna', 'ratna', 'ratna']

In [74]:
#it removes the last item
list.pop()
print (list)

['abcd', 7, 'anuj', 70.2, 'ratna']

In [77]:
#removes the specified item that is first item
list.pop(0)

'abcd'

In [79]:
print(list)

[7, 'anuj', 70.2, 'ratna']

In [81]:
#adds in first position;we can add at any postion
list.insert(0,'abcdagain')

In [82]:
print (list)

['abcdagain', 7, 'anuj', 70.2, 'ratna']

In [86]:
# checks the length of the list
len(list)

5

In [88]:
#copies data from one two another
copy_list=list[2]
print (copy_list)

anuj

#Summary of list operation
list.append('')
list.pop(0)
list.insert(2)
len(list)
list(2)

In [90]:
list.append('hari')
print(list)

['abcdagain', 7, 'anuj', 70.2, 'ratna', 'hari', 'hari']

In [91]:
list.append('sita',2,3)

TypeError: append() takes exactly one argument (3 given)

In [97]:
list.extend(['sita','hello '])
print(list)

['abcdagain', 7, 'anuj', 70.2, 'ratna', 'hari', 'hari', 'sita', 'hello ', 'sita', 'hello ', 'sita', 'hello ']

In [98]:
list.append([2,4,5])

In [100]:
print(list)

['abcdagain', 7, 'anuj', 70.2, 'ratna', 'hari', 'hari', 'sita', 'hello ', 'sita', 'hello ', 'sita', 'hello ', [2, 4, 5]]

In [101]:
list.extend([2,4,5])

In [102]:
print(list)

['abcdagain', 7, 'anuj', 70.2, 'ratna', 'hari', 'hari', 'sita', 'hello ', 'sita', 'hello ', 'sita', 'hello ', [2, 4, 5], 2, 4, 5]

In [105]:
print(list.count('2'))
#there is no string of 2 so it displays 0

0

In [106]:
print(list)

['abcdagain', 7, 'anuj', 70.2, 'ratna', 'hari', 'hari', 'sita', 'hello ', 'sita', 'hello ', 'sita', 'hello ', [2, 4, 5], 2, 4, 5]

In [113]:
#counts how many no. 2 is in the list

a=list.count(2)
print (a)

1

In [115]:
b=list.count('hari')
print (b)

2

In [116]:
c=list.count('hari','sita')
print(c)

TypeError: count() takes exactly one argument (2 given)

In [120]:
#counts list in the list
c=list.count([2,4,5])
print (c)

1

In [121]:
#list membership test
my_list = ['p','r','o','b','l','e','m']

# Output: True
print('p' in my_list)

# Output: False
print('a' in my_list)

# Output: True
print('c' not in my_list)

True
False
True

Iteration in list
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

In [127]:
for fruit in ['apple','banana','mango']:
    print("I like",fruit)

I like apple
I like banana
I like mango


any() Parameters

The any() method takes an iterable (list, string, dictionary etc.) in Python.
Return Value from any()

any() returns:

    True if at least one element of an iterable is true
    False if all elements are false or if an iterable is empty

When 	Return Value
All values are true 	True
All values are false 	False
One value is true (others are false) 	True
One value is false (others are true) 	True
Empty Iterable 	False

Python List Methods

Methods that are available with list object in Python programming are tabulated below.

They are accessed as list.method(). Some of the methods have already been used above.
Python List Methods
append() - Add an element to the end of the list
extend() - Add all elements of a list to the another list
insert() - Insert an item at the defined index
remove() - Removes an item from the list
pop() - Removes and returns an element at the given index
clear() - Removes all items from the list
index() - Returns the index of the first matched item
count() - Returns the count of number of items passed as an argument
sort() - Sort items in a list in ascending order
reverse() - Reverse the order of items in the list
copy() - Returns a shallow copy of the list

#remove() Parameters

The remove() method takes a single element as an argument and removes it from the list.

If the element(argument) passed to the remove() method doesn't exist, valueError exception is thrown.
# animal list
animal = ['cat', 'dog', 'rabbit', 'guinea pig']

In [133]:
# animal list
animal = ['cat', 'dog', 'rabbit', 'guinea pig']

# 'rabbit' element is removed
animal.remove('rabbit')

#Updated Animal List
print('Updated animal list: ', animal)

Updated animal list:  ['cat', 'dog', 'guinea pig']

In [134]:
#Reverse the list
# Operating System List
os = ['Windows', 'macOS', 'Linux']
print('Original List:', os)

# List Reverse
os.reverse()

# updated list
print('Updated List:', os)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

In [136]:
list

['abcdagain',
 7,
 'anuj',
 70.2,
 'ratna',
 'hari',
 'hari',
 'sita',
 'hello ',
 'sita',
 'hello ',
 'sita',
 'hello ',
 [2, 4, 5],
 2,
 4,
 5]

In [143]:
list.reverse()
print(list)

[5, 4, 2, [2, 4, 5], 'hello ', 'sita', 'hello ', 'sita', 'hello ', 'sita', 'hari', 'hari', 'ratna', 70.2, 'anuj', 7, 'abcdagain']

In [145]:
#Revering using slicing operator
# Operating System List
os = ['Windows', 'macOS', 'Linux']
print('Original List:', os)

# Reversing a list	
#Syntax: reversed_list = os[start:stop:step] 
reversed_list = os[::-1]

# updated list
print('Updated List:', reversed_list)

Original List: ['Windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'Windows']

In [146]:
#Accessing individual element in reverse order
# Operating System List
os = ['Windows', 'macOS', 'Linux']

# Printing Elements in Reversed Order
for o in reversed(os):
    print(o)

Linux
macOS
Windows

In [147]:
#List Sort
my_list = [3, 8, 1, 6, 0, 8, 4]

# Output: 1
print(my_list.index(8))

# Output: 2
print(my_list.count(8))

my_list.sort()

# Output: [0, 1, 3, 4, 6, 8, 8]
print(my_list)

my_list.reverse()

# Output: [8, 8, 6, 4, 3, 1, 0]
print(my_list)

1
2
[0, 1, 3, 4, 6, 8, 8]
[8, 8, 6, 4, 3, 1, 0]

In [150]:
#Creating new list from previous list
pow2 = [2 ** x for x in range(10)]

# Output: [1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
print(pow2)

#equivalent code for above code
'''pow2 = []
for x in range(10):
   pow2.append(2 ** x)'''

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [151]:
#Check maximum no.

# using max(arg1, arg2, *args)
print('Maximum is:', max(1, 3, 2, 5, 4))

# using max(iterable)
num = [1, 3, 2, 8, 5, 10, 6]
print('Maximum is:', max(num))

Maximum is: 5
Maximum is: 10

In [157]:
my_lists=[2,3,4]
print(max(my_lists))

4

In [158]:
my_list2=[2,'a',5]
print(max(my_list2))

TypeError: unorderable types: str() > int()

In [166]:
#finds the list and checks Maximum with keylength
num = [15, 300, 2700, 821,4,5,9]
num1 = [12, 2,8,9,9]
num2 = [34, 567, 78]

# using max(iterable, *iterables, key)
print('Maximum is:', max(num, num1, num2, key=len))

Maximum is: [15, 300, 2700, 821, 4, 5, 9]

In [167]:
#sum of no.s 
numbers = [2.5, 3, 4, -5]

# start parameter is not provided
numbersSum = sum(numbers)
print(numbersSum)

# start = 10
numbersSum = sum(numbers, 10)
print(numbersSum)

4.5
14.5

TypeError: unsupported operand type(s) for +: 'int' and 'list'