In [15]:
myset=set()
myset.add(3)
myset

{3}

In [17]:
myset.add(4)
myset

{3, 4}

In [19]:
#we cannot add same item in set..set has unique value.

myset.add(4)
myset

{3, 4}

In [40]:
#We can add lists to set.
mylist=[3,4,6,7,8,8,8,8,8,9]
k=set(mylist)
print(k)
type(k)

{3, 4, 6, 7, 8, 9}

set

In [21]:
mylist

[3, 4, 6, 7, 8, 8, 8, 8, 8, 9]

In [31]:
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [34]:
# we can make set from a list
# Output: {1, 2, 3}
my_setss = set([1,2,3,2])
print(my_setss)

{1, 2, 3}

In [35]:
type(my_setss)

set

In [45]:
#ADD multiple elements in sets
# add an element
# Output: {1, 2, 3}
maset=set()
maset.add(2)
print(maset)

# add multiple elements
# Output: {1, 2, 3, 4}
maset.update([2,3,4])
print(maset)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
maset.update([4,5], {1,6,8})
print(maset)

{2}
{2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [46]:
#removing
my_set.discard(3)

In [48]:
my_set

{1, 2, 4, 5, 6, 8}

In [52]:
my_set.remove(6)
my_set

{1, 2, 4, 8}