In [15]:
myset=set()
myset.add(3)
myset

{3}

In [17]:
myset.add(4)
myset

{3, 4}

In [19]:
#we cannot add same item in set..set has unique value.

myset.add(4)
myset

{3, 4}

In [40]:
#We can add lists to set.
mylist=[3,4,6,7,8,8,8,8,8,9]
k=set(mylist)
print(k)
type(k)

{3, 4, 6, 7, 8, 9}

set

In [21]:
mylist

[3, 4, 6, 7, 8, 8, 8, 8, 8, 9]

In [31]:
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [34]:
# we can make set from a list
# Output: {1, 2, 3}
my_setss = set([1,2,3,2])
print(my_setss)

{1, 2, 3}

In [35]:
type(my_setss)

set

In [45]:
#ADD multiple elements in sets
# add an element
# Output: {1, 2, 3}
maset=set()
maset.add(2)
print(maset)

# add multiple elements
# Output: {1, 2, 3, 4}
maset.update([2,3,4])
print(maset)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
maset.update([4,5], {1,6,8})
print(maset)

{2}
{2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [46]:
#removing
my_set.discard(3)

In [48]:
my_set

{1, 2, 4, 5, 6, 8}

In [52]:
my_set.remove(6)
my_set

{1, 2, 4, 8}

Python Set Operations

Sets can be used to carry out mathematical set operations like union, intersection, difference and symmetric difference. We can do this with operators or methods.

Let us consider the following two sets for the following operations.

>>> A = {1, 2, 3, 4, 5}
>>> B = {4, 5, 6, 7, 8}

In [53]:
#Union
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use | operator
# Output: {1, 2, 3, 4, 5, 6, 7, 8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [57]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [58]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 8}

In [60]:
C=A.union(B)

In [61]:
print(C)

{1, 2, 3, 4, 5, 6, 7, 8}

In [62]:
#Intersection
print(A&B)

{4, 5}

In [66]:
A.intersection(B)

{4, 5}

In [65]:

B.intersection(A)

{4, 5}

In [70]:
print(A-B)

{1, 2, 3}

In [71]:
print(A.difference(B))

{1, 2, 3}

In [72]:
#a intersection b complement or symmetric difference of a and b
print(A^B)

{1, 2, 3, 6, 7, 8}

In [73]:
print(A.symmetric_difference(B))

{1, 2, 3, 6, 7, 8}

Python Frozenset

Frozenset is a new class that has the characteristics of a set, but its elements cannot be changed once assigned. While tuples are immutable lists, frozensets are immutable sets.

Sets being mutable are unhashable, so they can't be used as dictionary keys. On the other hand, frozensets are hashable and can be used as keys to a dictionary.

Frozensets can be created using the function frozenset().

This datatype supports methods like copy(), difference(), intersection(), isdisjoint(), issubset(), issuperset(), symmetric_difference() and union(). Being immutable it does not have method that add or remove elements.

In [80]:
A.isdisjoint(B)

False

In [ ]:

A = frozenset([1, 2, 3, 4])
B = frozenset([3, 4, 5, 6])

False

In [77]:
print(A)

frozenset({1, 2, 3, 4})

In [78]:
A.remove(3)

AttributeError: 'frozenset' object has no attribute 'remove'